<footer>
    <div class="footer1">
        <span class="th">Contacta</span>
        <a href="#">Numero fijo</a>
        <a href="#">Movil</a>
        <a href="#">Correo Electronico</a>
    </div>
    <div class="footer1">
        <span class="th">Pedidos</span>
        <a href="#">Estado del producto</a>
        <a href="#">Fecha de entrega</a>
        <a href="#">Gastos de envio</a>
    </div>
    <div class="footer1">
        <span class="th">Nosotros</span>
        <a href="#">Sociedad Limitada</a>
        <a href="#">Participantes</a>
        <a href="#">Únete</a>
    </div>
</footer>