{% block body %}

    <section class="vh-100">
        <div id="carouselExampleIndicators" class="carousel slide h-100" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <ol class="flecha_abajo">
                <li><img src="{{ asset('image/flecha_abajo.png') }}"></li>
            </ol>
            <div class="carousel-inner h-100" role="listbox">
            
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active" style="background-image:url('../image/sofa.jpg')">
                    <div class="carousel-caption d-none d-md-block h-100" style="display: inline;">
                        <div class="d-flex d-flex align-content-center flex-wrap h-100">
                            <div class="title flex-column col-md-12">
                                <h2 class="display-3 texto_slider">
                                    Los detalles no son solo detalles. Ellos hacen el diseño.
                                </h2>
                            </div>
                            <div class="description flex-column col-md-12">
                                <p class="lead">Vamos a ayudarte a encontrar tu estilo...</p>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image:url('../image/banno.jpg')">
                    <div class="carousel-caption d-none d-md-block h-100">
                        <div class="d-flex d-flex align-content-center flex-wrap h-100">
                            <div class="title flex-column col-md-12">
                                <h2 class="display-3 texto_slider">
                                    Los detalles no son solo detalles. Ellos hacen el diseño.
                                </h2>
                            </div>
                            <div class="description flex-column col-md-12">
                                <p class="lead">Vamos a ayudarte a encontrar tu estilo...</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slide Three - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image:url('../image/dormitorio.jpg')">
                    <div class="carousel-caption d-none d-md-block h-100">
                        <div class="d-flex d-flex align-content-center flex-wrap h-100">
                            <div class="title flex-column col-md-12">
                                <h2 class="display-3 texto_slider">
                                    Los detalles no son solo detalles. Ellos hacen el diseño.
                                </h2>
                            </div>
                            <div class="description flex-column col-md-12">
                                <p class="lead">Vamos a ayudarte a encontrar tu estilo...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>
        {# <div id="map" class="map"></div> #}

        {# Ofertas #}
        
{% endblock %}
