<form method="post" class="mensajeeliminar" action="{{ path('ofertas_delete', {'id': oferta.id}) }}" onsubmit="return confirm('¿Estás seguro que quieres eliminar este elemento?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ oferta.id) }}">
    
    
    <a href="{{ path('ofertas_index') }}" class="btn btn-dark"><i class="fas fa-exchange-alt"></i> Volver</a>
    <a href="{{ path('ofertas_edit', {'id': oferta.id}) }}" class="btn btn-primary"><i class="fas fa-exchange-alt"></i>Editar</a>
    <button class="btn btn-danger"><i class="fas fa-trash-alt"></i> Borrar</button>
</form>
