{% extends 'base.html.twig' %}
{% block title %}New Ofertas{% endblock %}
{% block body %}
    <div class="contenedor_formulario">
        <div class="tabla m-4">
            <h1 class="text-center d-block p-2">Nuevos Materiales</h1>
            {{ include('ofertas/_form.html.twig') }}
        </div>

        <div class="opciones m-4">
            <a href="{{ path('ofertas_index') }}" class="btn btn-outline-warning my-2 my-sm-0"><i class="fas fa-exchange-alt"></i> Volver</a>
        </div>
    </div>
{% endblock %}