{% extends 'base.html.twig' %}
{% block title %}Editar Materiales{% endblock %}
{% block body %}
    <div class="contenedor_formulario">
        <div class="tabla m-4">
            <h1 class="text-center d-block p-2">Materiales</h1>
            {{ include('materiales/_form.html.twig', {'button_label': 'Update'}) }}
         </div>
        <div class="opciones m-4">
            {{ include('materiales/_edit_form.html.twig') }}
        </div>
    </div>
    {% endblock %}

