{% extends 'base.html.twig' %}

{% block title %}Nuevo Material{% endblock %}

{% block body %}
    <h1 style="text-align: center;">Nuevos Materiales</h1>

    {{ include('materiales/_form.html.twig') }}

    <a href="{{ path('materiales_index') }}">Volver</a>
{% endblock %}
